@import "mixins";
@import "variables";

body {
  font-size: $browser-context;
  background-color: $background-color;

  .bx--grid {
    max-width: rem(1056px);
  }

  .hidden {
    visibility: hidden;
    position: absolute;
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */

    &.accessible-label {
      color: $black;
      background: $white;
      font-size: 1.5rem;
    }
  }

  .offstage {
    position: fixed;
    left: -1000px;
  }

  a {
    // text-decoration: none;
    color: $link-blue;
  }
}

.page {
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
  padding: rem(48) rem(20) rem(60) rem(20);
}
