$sans: "Inria Sans", "Helvetica Neue", Arial, sans-serif;
$browser-context: 16; // Default
$background-color: #f5f6f7;
$white: #ffffff;
$black: #000000;
$link-blue: #0d6ec2;

// breakpoint sizes www.carbondesignsystem.com/guidelines/layout
$small: 320px;
$smallmedium: 400px;
$medium: 760px;
$mediumlarge: 860px;
$large: 1056px;
$xlarge: 1312px;
$max: 1584px;
