@import "../../css/_mixins.scss";

.bx {
  &--row {
    display: flex;
    flex-direction: row;
    @include breakpoint(medium) {
      flex-wrap: wrap;
    }
  }
}

.intro {
  &--header {
    p {
      font-size: rem(18);
      line-height: 1.5;
    }
  }
}

.chart-container {
  margin: rem(20) 0 rem(120) 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > .chart {
    width: 50%;
    @include breakpoint(medium) {
      width: 100%;
    }
  }

  > article {
    width: 50%;
    margin: 0 0 0 rem(20);
    @include breakpoint(medium) {
      margin-top: rem(40);
      margin-left: 0;
      width: 100%;
    }

    h2 {
      text-align: center;
      background: $white;
      border: 1px solid $black;
      padding: rem(20) rem(10);

      em {
        font-style: normal;
        text-decoration: underline;
      }
    }
  }
}

.chart#bar-chart-1 {
  @include breakpoint(medium) {
    margin-top: rem(40);
  }
}

.chart {
  &--header {
    text-align: center;
    margin: rem(40) 0 rem(50) 0;
    @include breakpoint(medium) {
      text-align: left;
    }

    h2 {
      font-size: rem(36);
    }

    .caption {
      display: flex;
      justify-content: center;
      @include breakpoint(medium) {
        flex-direction: column;
        justify-content: space-around;
      }
      span {
        text-align: center;
        display: inline-block;
        margin: 0 rem(32);
        position: relative;
        font-size: rem(20);
        @include breakpoint(medium) {
          display: block;
          margin: rem(10) rem(32);
          text-align: left;
          font-size: rem(16);
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: -32px;
          width: rem(25);
          height: rem(25);
        }
      }
      &--a {
        &::before {
          background-color: #4682b4;
        }
      }
      &--b {
        &::before {
          background-color: #b4b7b9;
        }
      }
      &--c {
        &::before {
          background-color: #e8ae31;
        }
      }
    }

    span.note {
      display: inline-block;
      margin: rem(10);
      @include breakpoint(medium) {
        font-size: rem(14);
        text-align: left;
      }
    }
  }
  &--donut {
    text.title {
      font-size: rem(100);
      font-weight: bold;
    }
  }
  &--bar {
    g.tick {
      line {
        stroke: #b4b7b9;
      }
      text {
        font-size: 18px;
      }
    }
  }
}
